<a href="https://colab.research.google.com/github/Srikanth-c/python-new/blob/module-2/functions_mod2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("ishwar")
my_function("ram")
my_function("charan")

ishwar Refsnes
ram Refsnes
charan Refsnes

In [3]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("ram", "Refsnes")

ram Refsnes

In [7]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("ishwar", "ram", "charan")

The youngest child is charan

In [8]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Ram", child2 = "ram", child3 ="charan" )

The youngest child is charan

In [9]:

"ishwar", "ram", "charan"

('ishwar', 'ram', 'charan')

In [11]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Ram", lname = "chran")

His last name is chran

In [13]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("USA")

I am from Sweden
I am from India
I am from Norway
I am from USA

In [14]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [16]:
def my_function(x):
  return 5 * x

print(my_function(2))
print(my_function(5))
print(my_function(11))

10
25
55

In [17]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21