<a href="https://colab.research.google.com/github/Srikanth-c/python-new/blob/module-2/module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def nCr(a,b):
    return(fact(a)/(fact(b)*fact(a-b)))
a=int(input(""))
b=int(input(""))
def fact(a):
  res=1
  for i in range (2,a+1):
   res=res*i
  return res
print(int(nCr(a,b)))

77
7
2404808340

In [ ]:
a=["red","green","white","black","pink","yellow"]
del a[0]
del a[4]
del a[3]
print(a)

['green', 'white', 'black']

In [ ]:
a=("red","white","yellow")
b=("green","white","black")
c=a+b
print(c)

('red', 'white', 'yellow', 'green', 'white', 'black')

In [ ]:
x = [8,9,6,3,4,1,2,4]
def ab(x):
  y = sorted(x)
  x1 = y[1]
  x2 = y[-2]
  print(x1)
  print(x2)
ab(x)

2
8

In [ ]:
sri1 = ["a","b","c","f","e"]
sri2 = ["x","y","c","g","h"]
kanth1 = set(sri1)
kanth2 = set(sri2)
def diff(kanth1,kanth2):
  x = kanth1.difference(kanth2)
  y = kanth2.difference(kanth1)
  a = list(x)
  b = list (y)
  z = a + b
  print(z)
diff(kanth1,kanth2)

['f', 'e', 'a', 'b', 'h', 'x', 'g', 'y']

In [ ]:
sri1 = [8,4,2,5,1]
sri2=[]
def square():
  for x in sri1:
    tuple5 = (x,x*x)
    sri2.append(tuple5)
    tuple5 = tuple(sri2)
  print(tuple5)
square()

((8, 64), (4, 16), (2, 4), (5, 25), (1, 1))

In [ ]:
sri1 = [(4,5 ), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
i = 0
while i < len(sri1):
  if len(sri1[i])==2:
    sri1.pop(i)
  i = i + 1
print(sri1)

[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [ ]:
sri = int(input("Enter key: "))
sri2 = {
    1 : "x",
    2 : "y",
    3 : "z"
}
del sri2[sri]
print(sri2)

Enter key: 1
{2: 'y', 3: 'z'}

In [ ]:
sri1 = {5 : 100, 80 : 699, 8 : 45, 5 : 544, 7 : 984}

sri2 = sorted(list(sri1.values()))

min = sri2[0]
max = sri2[-1]

print("The minimum value is",min , "and the maximum is",max)

The minimum value is 45 and the maximum is 984

In [ ]:
sri = "I am going to RRR(greatest movie of tollywood) movie"
a = sri.split(" ")
b = 'to'
count = 0
for b in sri:
  if b in a:
    count = count + 1
print(count)

1

In [ ]:
string="rabbit"
print(string.replace("b","c"))

raccit

In [ ]:
string = input(":")
flash = ""
sample = string.split(" ")
for word in sample:
  flash = flash + word[0].upper()
print(flash)

:998
9

In [ ]:
sri1 = ['abc', 'xyz', 'aba', '1221']
for word in sri1:
  if len(word)>2 and word[0]==word[-1]:
    print(word)

aba
1221