<a href="https://colab.research.google.com/github/Srikanth-c/python-new/blob/module-1/tuple_progs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
()=tuple
[]=list
{}=set

In [ ]:
a=("apple","banana","pineapple","guava")
b=list(a)
b[1] = "kiwi"
a= tuple(b)
print(a)

('apple', 'kiwi', 'pineapple', 'guava')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("green apple")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'green apple')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("yellow",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'yellow')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("banana")
thistuple=tuple(y)
print(thistuple)

('apple', 'cherry')

In [ ]:
fruits = ("apple", "banana", "cherry")

(blue,red,black)=fruits

print(blue)
print(red)
print(black)

apple
banana
cherry

In [ ]:
fruits = ("apple", "banana", "cherry","papaya","green apple","mango")
(white,red,*blue)=fruits
print(red)
print(blue)
(type(fruits))

banana
['cherry', 'papaya', 'green apple', 'mango']

tuple

In [ ]:
a={"abblebbloe"}
print(a)
type(a)

{'abblebbloe'}

set

In [ ]:
thisset = {"apple", "banana","samosa","biryani", "cherry"}

print(len(thisset))
print(thisset)

5
{'cherry', 'banana', 'samosa', 'biryani', 'apple'}